<div id="PRODUCT_BUILDER_APP" data-product-link="{{ product.url }}?view=product-json">
  <!-- JS Render -->
</div> <!-- #PRODUCT_BUILDER_APP -->

{% schema %}
  {
    "name": "Product Builder",
    "settings": [],
    "presets": [
      {
        "name": "Product Builder"
      }
    ] 
  }
{% endschema %}