{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign pageUrlWithHost = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first |
   replace:'\/','/' | 
   replace:'%20',' ' | 
   replace:'\u0026','&'
-%}
{% assign __urlParams = pageUrlWithHost | split: "?" | last %}
{% assign __segments = __urlParams | split: "&" %}
{% for __segment in __segments %}
  {% liquid  
    assign s_item = __segment | split: "="
    assign __key = s_item[0]
    assign __value = s_item[1]

    case __key
      when 'variant'
        assign __vID = __value | plus : 0
        assign result = product.variants | where: "id", __vID 
      else
        assign result = product
    endcase
  %}
{% endfor %}
<div id="PROPDUCT_JSON_CODE">
  {{ result | json }}
  <!-- <script>
    const productJSON = {{ product | json }};
    const variant = {{ product.variants[0].metafields.builder_base | json }}
    console.log(productJSON);
    // console.log(variant);
  </script> -->
</div>
{% schema %}
  {
    "name": "Product Json",
    "settings": [],
    "presets": [
    {
      "name": "Product Json"
    }
    ]
  }
{% endschema %}