#PRODUCT_BUILDER_APP {}

.product-builder-app {

  .product-variant-options {

    &__heading {
      text-align: center;
      width: 600px;
      max-width: 100%;
      display: block;
      margin: 0 auto 2em;
    }

    .__variants {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2em;
      width: 600px;
      max-width: 100%;
      margin: 1em auto
    }

    &__item {
      border: solid 1px #EAEAEA;
      border-radius: 6px;
      padding: 1em;
      cursor: pointer;
      transition: .3s ease;
      -webkit-transition: .3s ease;

      &:hover,
      &.__selected {
        border-color: #111;
      }

      .__thumbnail {

        img {
          width: 100%;
        }
      }

      .product-variant-name {
        margin: 0;
        text-align: center;
        color: #111;
        line-height: 1.5em;
        // font-weight: bold;
      }
    }
  }

  .nav-tabs {
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 7em;

    > * {
      width: calc(100% / 3);
      display: inline-block;
    }

    &__nav-ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;
      margin: 0;
      padding: 0;
    }

    &__nav-item {
      list-style: none;
      opacity: .6;
      transition: .3s ease;
      -webkit-transition: .3s ease;

      &.__disable {
        pointer-events: none;
      }

      > label {
        padding: 1em;
        display: inline-block;
        cursor: pointer;
      }

      &.__selected {
        border-bottom: solid 1px black;
        opacity: 1;
        
        > label {
          color: black;
        }
      }
    }
  }
}